<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>邮件验证码</title>
</head>
<body>
<table style="margin:0px;padding-left: 20px;padding-right: 20px;max-width: 700px;margin: auto;width: 100%;">
    <tbody><tr>
        <td>
            <table style="max-width: 700px; width: 100%;margin-top: 5px;">
                <tbody><tr style="height: 30px;width: 100%;">
                    <td style="width: 50%;vertical-align:bottom;" valign="bottom">
                        <h1 style="font-size: 18px;margin: 0">为考-考试系统</h1>
                    </td>
                    <td style="width: 50%;vertical-align:bottom;color:#76808E;font-size:12px;" align="right" valign="bottom">让学习更高效</td>
                </tr>
                <tr style="width:100%;">
                    <td colspan="2" style="width: 100%;border-bottom-color: #ccc;border-bottom-width: 1px; border-bottom-style: solid;height: 15px;"></td>
                </tr>
                </tbody></table>
            <table>
                <tbody>
                <tr>
                    <td style="padding-top: 30px;font-size: 20px;color: #323A45;">
                        您的邮箱验证码为：
                    </td>
                </tr>
                <tr>
                    <td valign="left" style="font-size: 36px;color: #323A45;height: 110px;">
                        <code style="display: block;text-align: center;">${code}</code>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 14px;  padding: 10px 0;">
                        该验证码 10 分钟内有效。为了保障您的账户安全，请勿向他人泄漏验证码信息。
                    </td>
                </tr>
                </tbody>
            </table>
            <table style="max-width: 700px; width:100%; font-size:14px; text-align: center;padding-top:20px;color:#76808E;">
                <tbody style="width: 100%;">
                <tr style="width:100%;">
                    <td colspan="2" style="height: 15px;width:100%;border-top-color: #ccc;  border-top-width: 1px;  border-top-style: solid;"></td>
                </tr>
                <tr style="width: 100%;">
                    <td>如您对 为考 的使用有任何疑问, 请随时与我们联系。</td>
                </tr>
                <tr>
                    <td style="font-size: 12px;">Copyright © 2021 Baymax 版权所有</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody></table>
    </div>
</body>
</html>