<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baymax.mgo.mapper.MailsMapper">

    <insert id="saveMail">
        INSERT INTO `ub_mails` (`from`, `to`, `subject`, `text`, `template`,  `cc`, `bcc`, `status`, `error`, `created_at`) VALUES (#{from}, #{to}, #{subject}, #{text}, #{template}, #{cc}, #{bcc}, #{status}, #{error}, #{createdAt})
    </insert>
</mapper>
