<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baymax.exam.center.mapper.ExamQuestionMapper">

    <select id="getQuestion" resultType="com.baymax.exam.center.model.Question">
        SELECT
            q.*
        FROM
            ee_exam_question eq
                JOIN eq_question q ON ( eq.question_id = q.id )
        WHERE
            eq.exam_id =#{examId}
    </select>
</mapper>
